<!-- ========== START NAV ========== -->
<header
  class="sticky top-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7 bg-gray-100 shadow"
>
  <nav
    class="relative max-w-7xl w-full flex items-center justify-between px-4 md:px-8 mx-auto"
  >
    <!-- Logo di sisi kiri -->
    <div class="md:col-span-3">
      <a
        class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80"
        href="/"
        aria-label="Preline"
      >
        <h1 class="ai-give-up-logo">AiGiveUP</h1>
      </a>
    </div>
    <div
      class="flex items-center gap-x-1 md:gap-x-2 ml-auto py-1 md:ps-6 md:order-3 md:col-span-3"
    >
      <a
        href="<%= href %>"
        type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-lime-400 text-black hover:bg-lime-500 focus:outline-none focus:bg-lime-500 transition disabled:opacity-50 disabled:pointer-events-none"
      >
        <%= method %>
      </a>
    </div>
  </nav>
</header>

<!-- ========== END NAV ========== -->
